@import "/styles/reset.css";

/* -------------------------------CSS for home.html file--------------------------------- */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hover:hover {
  background: #e6e9f0;
  cursor: pointer;
}

.main_container {
  width: 40%;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
}
.create_story {
  background: #ffffff;
  padding: 0 10px;
  box-shadow: 0 0 4px rgb(188, 179, 179);
  border-radius: 0.5em;
  margin-top: 5%;
}

.create_story .story_reel_room {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgb(189, 182, 182);
}

.story_reel_room p i,
.story_reel_room p img {
  margin: 0 10px;
}

.story_reel_room p img {
  margin-bottom: -4px;
}

.story_reel_room p {
  padding: 0.8em 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

.story_reel_room p:hover {
  background: #e4e8ee;
}

.stories {
  display: flex;
  margin-top: 4%;
  overflow-x: scroll;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.container {
  margin: 0 5px 0 5px;
}

.Create_my_story {
  margin: 0 5px 0 5px;
  width: 120px;
  height: 24vh;
  box-shadow: 0 0 2px rgb(174, 167, 167);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Create_my_story i {
  background: #ffffff;
  border-radius: 50%;
  border: 4px solid #ffffff;
  color: #0967e2;
  position: relative;
  top: -12px;
  font-size: 1.6em;
}

.Create_my_story span {
  font-size: 0.9em;
  margin-top: -10px;
}

.Create_my_story img {
  width: 110px;
  height: 18vh;
  object-fit: cover;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
 
}

.container .img {
  width: 110px;
  height: 24vh;
  object-fit: cover;
}

.bgImg {
  box-shadow: 0 0 2px rgb(174, 167, 167);
  border-radius: 0.5em;
}
.story {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 4px solid #1876f2;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  top: -76%;
}
.container span {
  position: relative;
  top: -60px;
  right: 45px;
  color: #ffffff;
  font-weight: bolder;
}

/* ------------------posts--------------- */

.posts {
  box-shadow: 0 0 2px rgb(174, 167, 167);
  margin: 5% 0;
  background: #ffffff;
  border-radius: 0.5em;
  padding: 10px 20px 0 10px;
}

.about_post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.about_post input {
  width: 85%;
  border: none;
  outline: none;
  background: var(--bg-color);
  padding: 10px 20px;
  border-radius: 1.5em;
  font-size: 1em;
}

.photo_video {
  padding: 1em 1em 2em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid rgb(181, 176, 176);
}

.photo_video p img {
  margin-bottom: -13px;
  padding: 8px;
}

.photo_video p {
  /* background: #d0d8e3; */
  padding: 10px 10px 15px 5px;
  border-radius: 0.5em;
}

/* ---------------dummy_post------------- */

.pointer {
  cursor: pointer;
}

.dummy_post {
  box-shadow: 0 0 2px rgb(174, 167, 167);
  margin: 5% 0;
  background: #ffffff;
  border-radius: 0.5em;
  padding: 10px;
  display: block;
}

.dummy_post .top {
  display: flex;
  align-items: center;
}
.dummy_post .name {
  margin: 0 0 0 2%;
}
.dummy_post .name p {
  font-weight: bold;
}

.dummy_post .name p:hover {
  text-decoration: underline;
}
.dummy_post .name span {
  font-size: 12px;
}
.dummy_post .name span:hover {
  text-decoration: underline;
}

.top .icons {
  margin: 0 0 0 60%;
}

.top .icons i {
  font-size: 1.4em;
  padding: 8px;
  border-radius: 50%;
}

#post-caption {
  margin: 1em 0 0 1em;
}

/* -------------image for dummy post---------------- */

.image {
  padding: 2%;
  border-top: 1px solid rgb(200, 192, 192);
  margin-top: 2%;
}
.image img {
  width: 100%;
  height: 70vh;
  border-radius: 1em;
  object-fit: cover;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 2em 0 0;
}

#like-count {
  font-size: 1rem;
}

.bottom p {
  font-size: 1rem;
}

.reaction {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid rgb(200, 192, 192);
  border-bottom: 1px solid rgb(200, 192, 192);
  margin-top: 14px;
}

.reaction p {
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

/* -------------------css for dialogue boxes--------------------- */

/* --------------comment box css---------------------- */

.commentSection {
  margin: 2% 0;
  border-radius: 0.5em;
  padding: 1em;
  display: none;
}
.comment-person
{
  margin-left:15%;
  border-radius: 40px;
}
.commenti{

  border-radius: 40px;
}
.comment_text{
  margin-left:5%;
  font-weight: bolder;
  text-align: center;
}

.commentSection .Profile_area {
  width: 100%;
  padding: 1em;
  outline: none;
  font-size: 0.5em 1em;
  display: flex;
  align-items: center;
}
.commentSection .Profile_area img {
  background: var(--bg-color);
  border-radius: 50%;
  margin-right: 2%;
}
.Profile_area .input_field input {
  width: 18em;
  border: none;
  outline: none;
  padding: 0.5em;
  font-size: 1em;
  background: transparent;
}

.Profile_area .input_field {
  background: var(--bg-color);
  padding: 0.5em;
  border-radius: 1.6em;
}
.Profile_area .input_field i {
  margin: 0 1%;
}

.commentSection ul {
  list-style: none;
  line-height: 30px;
}
.commentSection ul li {
  background: var(--bg-color);
  margin: 1% 0;
  padding: 0.5em;
}

.Profile_area button {
  background: #0967e2;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 0.5em 1em;
  font-size: 1em;
  border-radius: 0.5em;
  margin-left: 2%;
}

.Profile_area button:hover {
  background: #034090;
}
/* -------create_post-------- */

.create_post_Wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(240, 240, 240, 0.8);
  display: none;
}

.create_post {
  box-shadow: 0 0 2px rgb(174, 167, 167);
  background: #ffffff;
  padding: 10px;
  border-radius: 0.5em;
  width: 35%;
  position: fixed;
  top: 20%;
  left: 32%;
  /* display: none; */
}

.create_post h3 {
  text-align: center;
  font-weight: bolder;
}
.create_post .fa-xmark {
  float: right;
  margin-top: -20px;
  background: #e0e1e4;
  padding: 5px 8px;
  border-radius: 50%;
}
.create_post .about_post {
  border-top: 1px solid rgb(206, 199, 199);
  margin-top: 2%;
}

.create_post .name {
  display: flex;
}
.create_post .name img {
  margin-right: 10px;
}

.create_post .name button {
  background: var(--bg-color);
  border-radius: 0.4em;
  display: flex;
  outline: none;
  border: none;
  padding: 5px 10px;
  justify-content: space-between;
}
.create_post .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.create_post .text textarea {
  border: none;
  outline: none;
  width: 95%;
  font-size: 1em;
  padding: 5px;
  margin: 1rem;
}

.iconBg {
  /* background: #1876f2; */
  padding: 5px 8px;
  border-radius: 50%;
}

.create_post .photo {
  border: 1px solid rgb(206, 199, 199);
  padding: 1em;
  text-align: center;
  border-radius: 0.5em;
  margin: 4% 0;
}

.create_post .photo .inner_div {
  background: var(--bg-color);
  padding: 1em;
  border-radius: 0.5em;
}
.create_post .photo .fa-xmark {
  margin: 4px;
  background: #ffffff;
}
.create_post .photo .inner_div:hover {
  background: rgb(224, 218, 218);
}
.create_post .photo span {
  font-size: 12px;
  color: gray;
}

.yellow {
  color: yellow;
}
.red {
  color: red;
}

.create_post .bottom {
  border: 1px solid rgb(224, 218, 218);
  padding: 1em;
  align-items: center;
  display: flex;
  border-radius: 0.5em;
}



.about_post input {
  cursor: pointer;
}

#post-audience i {
  margin: 0 0.4em;
  font-size: 1em;
}

#create-post-url-input {
  margin-top: 0.3em;
  width: 15em;
  border-radius: 0.3em;
  border: 1px solid lightskyblue;
  padding: 0.3em 0.6em;
}

#create-post-url-input:focus {
  outline: none;
  border: 2px solid rgb(88, 184, 244);
}

#create-post-btn {
  width: 100%;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
  padding: 0.7em;
  font-size: 1rem;
  border-radius: 0.3em;
  border: none;
  background-color: lightgray;
  color: white;
  cursor: pointer;
}







/* -------------------end of css for dialogue boxes--------------------- */

/* -------------------------------end CSS for home.html file--------------------------------- */

/* media query for mobile view */

@media only screen and (max-width: 375px) {
  .container .img {
    height: 28vh;
  }
  .top .icons {
    margin: 0 0 0 45%;
  }
}

@media only screen and (max-width: 580px) {
  .main_container {
    width: 100%;
  }
  .container, .Create_my_story {
    margin-top: 10%;
  }

  .Create_my_story img{
    width: 5em;
  }

  .display_none {
    display: none;
  }

  .story {
    top: -75%;
  }

  .create_post {
    width: 90%;
    margin: 0 10% 0 -28%;
  }
}

@media only screen and (max-width: 820px) {
  .container .img {
    height: 18vh;
  }
  .story {
    top: -79%;
  }
  #my_story {
    margin-top: 0;
  }
}

@media only screen and (max-width: 415px) {
  .story {
    top: -74%;
  }
}

@media only screen and (max-width: 915px) {
  .container .img {
    height: 15vh;
  }
}

@media only screen and (max-width: 540px) {
  .container .img {
    height: 25vh;
  }

  .story {
    top: -76%;
  }
}
