@import "/styles/reset.css";

/* -------------------------------CSS for home.html file--------------------------------- */

.hover:hover {
  background: #e6e9f0;
  cursor: pointer;
}

.main_container {
  width: 40%;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
}
.create_story {
  background: #ffffff;
  padding: 0 10px;
  box-shadow: 0 0 4px rgb(188, 179, 179);
  border-radius: 0.5em;
  margin-top: 5%;
}

.create_story .story_reel_room {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgb(189, 182, 182);
}

.story_reel_room p i,
.story_reel_room p img {
  margin: 0 10px;
}

.story_reel_room p img {
  margin-bottom: -4px;
}

.story_reel_room p {
  padding: 0.8em 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

.story_reel_room p:hover {
  background: #e4e8ee;
}

.stories {
  display: flex;
  margin-top: 4%;
  overflow-x: scroll;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.container_mystory {
  height: 24vh;
  border-radius: 0.5em;
  box-shadow: 0 0 2px rgb(174, 167, 167);
  margin: 0 1% 0 0;
}

#my_story {
  width: 110px;
  height: 120px;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background: #e0e1e4;
  object-fit: cover;
}

.plus {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forhome {
  background: #1876f2;
  padding: 0 5px 0 3px;
  font-size: 1.2em;
  border-radius: 50%;
  border: 2px solid #ffffff;
  position: relative;
  bottom: 18px;
  color: #ffffff;
}

.plus span {
  margin-top: -10px;
}

.container {
  /* height: 200px; */
  margin: 0 5px 0 5px;
}

.container .img {
  width: 110px;
  height: 24vh;
  object-fit: cover;
}

.bgImg {
  box-shadow: 0 0 2px rgb(174, 167, 167);
  border-radius: 0.5em;
}
.story {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 4px solid #1876f2;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  top: -76%;
}
.container span {
  position: relative;
  top: -60px;
  right: 45px;
  color: #ffffff;
  font-weight: bolder;
}

/* ------------------posts--------------- */

.posts {
  box-shadow: 0 0 2px rgb(174, 167, 167);
  margin: 5% 0;
  background: #ffffff;
  border-radius: 0.5em;
  padding: 10px 20px 0 10px;
}

.about_post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.about_post input {
  width: 85%;
  border: none;
  outline: none;
  background: var(--bg-color);
  padding: 10px 20px;
  border-radius: 1.5em;
  font-size: 1em;
}

.photo_video {
  padding: 1em 1em 2em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid rgb(181, 176, 176);
}

.photo_video p img {
  margin-bottom: -13px;
  padding: 8px;

}

.photo_video p {
  /* background: #d0d8e3; */
  padding: 10px 10px 15px 5px;
  border-radius: 0.5em;
}

/* ---------------dummy_post------------- */

.pointer {
  cursor: pointer;
}

.dummy_post {
  box-shadow: 0 0 2px rgb(174, 167, 167);
  margin: 5% 0;
  background: #ffffff;
  border-radius: 0.5em;
  padding: 10px;
  display: block;
}

.dummy_post .top {
  display: flex;
  align-items: center;
}
.dummy_post .name {
  margin: 0 0 0 2%;
}
.dummy_post .name p {
  font-weight: bold;
}

.dummy_post .name p:hover {
  text-decoration: underline;
}
.dummy_post .name span {
  font-size: 12px;
}
.dummy_post .name span:hover {
  text-decoration: underline;
}

.top .icons {
  margin: 0 0 0 60%;
}

.top .icons i {
  font-size: 1.4em;
  padding: 8px;
  border-radius: 50%;
}

/* -------------image for dummy post---------------- */

.image {
  padding: 2%;
  border-top: 1px solid rgb(200, 192, 192);
  margin-top: 2%;
}
.image img {
  width: 100%;
  height: 70vh;
  border-radius: 1em;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 2.5% 0 0;
}

.bottom p {
  font-size: 0.9em;
}

.reaction {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid rgb(200, 192, 192);
  margin-top: 14px;
}

.reaction p {
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

/* -------------------css for dialogue boxes--------------------- */

/* -------create_post-------- */

.create_post_Wrapper{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(240, 240, 240, 0.8);
  display: none;
}

.create_post {
  box-shadow: 0 0 2px rgb(174, 167, 167);
  background: #ffffff;
  padding: 10px;
  border-radius: 0.5em;
  width: 35%;
  position: fixed;
  top: 20%;
  left: 32%;
  /* display: none; */
}

.create_post h3 {
  text-align: center;
  font-weight: bolder;
}
.create_post .fa-xmark {
  float: right;
  margin-top: -20px;
  background: #e0e1e4;
  padding: 5px 8px;
  border-radius: 50%;
}
.create_post .about_post {
  border-top: 1px solid rgb(206, 199, 199);
  margin-top: 2%;
}

.create_post .name {
  display: flex;
}
.create_post .name img {
  margin-right: 10px;
}

.create_post .name button {
  background: var(--bg-color);
  border-radius: 0.4em;
  display: flex;
  outline: none;
  border: none;
  padding: 5px 10px;
  justify-content: space-between;
}
.create_post .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.create_post .text textarea {
  border: none;
  outline: none;
  width: 95%;
  font-size: 1em;
  padding: 5px;
  margin: 1rem;
}

.iconBg {
  /* background: #1876f2; */
  padding: 5px 8px;
  border-radius: 50%;
}

.create_post .photo {
  border: 1px solid rgb(206, 199, 199);
  padding: 1em;
  text-align: center;
  border-radius: 0.5em;
  margin: 4% 0;
}

.create_post .photo .inner_div {
  background: var(--bg-color);
  padding: 1em;
  border-radius: 0.5em;
}
.create_post .photo .fa-xmark {
  margin: 4px;
  background: #ffffff;
}
.create_post .photo .inner_div:hover {
  background: rgb(224, 218, 218);
}
.create_post .photo span {
  font-size: 12px;
  color: gray;
}

.yellow {
  color: yellow;
}
.red {
  color: red;
}

.create_post .bottom {
  border: 1px solid rgb(224, 218, 218);
  padding: 1em;
  align-items: center;
  display: flex;
  border-radius: 0.5em;
}

/* -------------------end of css for dialogue boxes--------------------- */

/* -------------------------------end CSS for home.html file--------------------------------- */

/* media query for mobile view */


@media only screen and (max-width: 380px){
  
   .top .icons {
    margin: 0 0 0 45%;
  }

   .container .img {
  
    
  }
  

   
   
}

@media only screen and (max-width: 580px) {
  .main_container {
    width: 100%;
    
  }
  .container {
    margin-top: 10%;
  }

  .container_mystory {
    margin-top: 10%;
  
  }

  .display_none {
    display: none;
  }

  .story {
    top: -100%;
  }

  .create_post{
    width: 90%;
    margin: 0 10% 0 -28%;
  }

 
  
}

