
/*=================================== Reset ====================================================*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  :root {
    --bg-color: #f0f2f5;
    --main-color: #ffffff;
  }
  
  body {
    background: #f0f2f5;
  }